@use './tenaris-today.scss' as *;
//@use './ternium-hoy.scss' as *;

.mm-container {
  z-index: 10;
  height: 40px;
  box-shadow:
    0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  background-color: $mm-primary-color;
  border-bottom: solid 1px #e7e7e7;
  display: flex;

  @media screen and (max-width: 1024px) {
    height: 48px;

    &.active {
      height: 100vh;
      background-color: #e8e8e8 !important;

      .mm-hamburger-title {
        display: none;
      }
    }
  }

  .mm-content {
    display: flex;
    padding: 0 19px;
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    position: relative;

    @media screen and (max-width: 1024px) {
      display: none;
      flex-direction: column;
      background-color: #f6f6f699;

      &.active {
        display: flex;
        padding: 0;
        background-color: $mm-primary-color;
        .mm-options {
          background-color: $mm-primary-color;

          border-bottom: $mm-primary-color 1px solid;

          .mm-options-mobile {
            justify-content: space-between;
            padding: 10px;
          }
        }
      }
    }
  }

  .mm-hamburger {
    display: none;

    /* Hide hamburger on larger screens */
    @media screen and (max-width: 1024px) {
      position: relative;
      width: 30px;
      height: 20px;
      /* Adjust height to give space for bars */
      cursor: pointer;
      display: block;
      margin: 10px;
      &.active {
        span::after,
        span::before {
          background: #666666;
        }
      }

      span {
        position: absolute;
        top: 10px;
        cursor: pointer;
        height: 2px;
        width: 17px;
        background: $mm-color;
        display: block;
        content: '';
        transition: all 500ms ease-in-out;

        &::before {
          cursor: pointer;
          height: 2px;
          width: 17px;
          background: $mm-color;
          position: absolute;
          display: block;
          content: '';
          top: -7px;
          width: 23px;
          transition: all 500ms ease-in-out;
        }

        &::after {
          cursor: pointer;
          height: 2px;
          width: 17px;
          background: $mm-color;
          position: absolute;
          display: block;
          content: '';
          bottom: -7px;
          width: 17px;
          transition: all 500ms ease-in-out;
        }
      }

      &.active span {
        background: transparent;

        &::before {
          transform: rotate(45deg);
          top: 0;
          transition: all 500ms ease-in-out;
        }

        &::after {
          transform: rotate(-45deg);
          bottom: 0;
          width: 23px;
          transition: all 500ms ease-in-out;
        }
      }
    }
  }

  .mm-hamburger-title {
    display: none;
    color: $mm-color;
    @media screen and (max-width: 1024px) {
      display: inline-block;
      width: fit-content;
      margin: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

@media screen and (min-width: 1024px) {
  .mm-backround {
    background-color: rgba(0, 0, 0, 0.01);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
  }
}

.mm-options {
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  width: fit-content;
  width: 100%;
  display: inline-block;
  cursor: pointer;

  //color: $mm-color;

  span::after {
    //color: $mm-color;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    content: '\f107';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 18px;
    line-height: 10px;
    margin-left: 10px;
    position: relative;
  }
}

.mm-options-desktop {
  display: flex;
  padding: 10px;
  align-items: center;
  gap: 10px;
  color: $mm-color;
  @media screen and (max-width: 1024px) {
    display: none;
  }
}

.mm-options-mobile {
  display: none;
  color: $mm-color;
  @media screen and (max-width: 1024px) {
    display: flex;
    align-items: center;
  }
}

.mm-options-container {
  position: absolute;
  top: 41px;
  left: 0;
  right: 0;
  background: #fff;
  border: 1px solid #ccc;
  min-width: 150px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);

  @media screen and (max-width: 1024px) {
    box-shadow: unset;
    position: relative;
    top: 0;
    border: none;
  }
}

.mm-options-mobile-n1 {
  display: none;
}

.mm-options-desktop-n1 {
  display: flex;
}

@media screen and (max-width: 1024px) {
  .mm-options-mobile-n1 {
    display: flex;
  }

  .mm-options-desktop-n1 {
    display: none;
  }
}

.mm-options-desktop-n1,
.mm-options-mobile-n1 {
  padding: 12px;
  gap: 10px;
  width: 25%;

  &:hover {
    .mm-options-n1-title {
      font-weight: bold;
    }
  }

  @media screen and (max-width: 1024px) {
    width: unset;
  }

  &.selected {
    border-left: 3px solid $mm-primary-color;
    background: #f0f0f0;

    @media screen and (max-width: 1024px) {
      flex-direction: column;
      border-left: unset;
    }

    .mm-options-n1-container {
      display: flex;
      background: #f0f0f0;
    }
  }
}

.mm-options-n1-title {
  color: #333;
  cursor: pointer;
}

.mm-options-n1-container {
  width: 73%;
  color: #333;
  cursor: pointer;
  display: none;
  position: absolute;
  top: 0;
  height: calc(100vh - 70px);
  left: 26%;
  padding: 10px;
  flex-wrap: wrap;
  gap: 25px;

  @media screen and (max-width: 1024px) {
    position: relative;
    height: unset;
    width: unset;
    left: unset;
  }
}

.mm-options-n2 {
  padding: 10px;
}

.mm-options-n2-title {
  font-size: 14px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.mm-options-n2-container {
  padding: 10px;
}

.mm-options-n3-text {
  display: block;
  color: #666666;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  margin: 8px 0;
}
.mm-item-mobile {
  display: none;
}

.mm-item-desktop {
  display: flex;
}

@media screen and (max-width: 1024px) {
  .mm-item-mobile {
    display: flex;
  }

  .mm-item-desktop {
    display: none;
  }
}

.mm-icon {
  cursor: pointer;
  width: fit-content;
  padding: 10px;
  color: $mm-color;
  gap: 10px;
  position: relative;
  align-items: center;

  a {
    text-decoration: none;
    color: $mm-color;
  }

  // &.home {
  //   color: $mm-primary-color;
  // }
}
